{% extends 'base.html' %}

{% block content %}



<!-- pairs is a list that must be sent here by a route function

     The list will contain 45 pairs: a presidency number, and a
     president's name -->

     <!--       later editing change         -->
     <!--  url_for( 'detail', num=pair[0] )  -->
     <!--    inside double curly braces      -->


<form>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select student</label>
     <select class="form-control" id="studentList">
         <option value="" > Select student </option>
             {% for row in data %}
                 <option value='{{ row[1] }}' > {{row[4]}} </option>

             {% endfor %}
        </select>
    </div>
</form>



{% endblock %}